.container {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  color: #364F6B;
}

.container h1, .container h2 {
  font-weight: normal;
}

.killfeed {
  margin-top: 1rem;
  list-style: none;
}
.killfeed > li {
  margin: .5rem;
}
.killfeedContainer {
  height: 25vh;
  white-space: nowrap;
  overflow: auto;
}

.killfeedContainer::-webkit-scrollbar {
  width: 10px;
}

.killfeedContainer::-webkit-scrollbar-track {
  background: transparent; 
}
 
.killfeedContainer::-webkit-scrollbar-thumb {
  background: #364F6B; 
}