.headerWrapper {
  width: 100%;
  position:fixed;
  top:0;
  right:0;
  background: #364F6B;
  box-shadow: 0 5px 5px rgba(0,0,0,0.15);
}
.header {
  max-width: 1460px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5px;
}

.navItem {
  text-decoration: none;
  color: white;
  margin: 0 25px;
}
.logo {
  text-decoration: none;
  color: white;
  margin: 0 25px;
}


@media (max-width: 768px) {
  .header {
    font-size: 0.75rem;
  }
  .logo {
    visibility: hidden;
  }
}