.formContainer {
    width: 90%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .8rem auto;
    align-items: center;
}

.inputContainer label {
    font-size: 16px;
    flex: 1;
}

.inputContainer div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.inputContainer input {
    background-color: transparent;
    border: 2px solid #519BFC;
    border-radius: 20px;
    width: 10ch;
    height: 40px;
    padding: 12px;
}

.inputContainer input::placeholder {
    color: #519BFC
}

.inputContainer p {
    font-weight: bold;
    font-size: 20;
    margin: 0 6px;
}