@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

body { 
    margin-top: 50px;
    background: #E0E2E9;
}